In [17]:
import pandas as pd

df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'yellow', 'blue', 'red', 'green', 'yellow'],
})
df.head()

    color
0     red
1    blue
2   green
3  yellow
4    blue

In [18]:
from sklearn.preprocessing import LabelEncoder

lbl_encoder= LabelEncoder()

df['color_encoded'] = lbl_encoder.fit_transform(df['color'])
df

    color  color_encoded
0     red              2
1    blue              0
2   green              1
3  yellow              3
4    blue              0
5     red              2
6   green              1
7  yellow              3

In [19]:
from sklearn.preprocessing import OrdinalEncoder

ord_encoder = OrdinalEncoder(categories=[['small', 'medium', 'large']])

df = pd.DataFrame({
    'size': ['small', 'large', 'medium', 'large', 'small', 'medium'],
})

In [20]:
ord_encoder.fit_transform(df[['size']])

array([[0.],
       [2.],
       [1.],
       [2.],
       [0.],
       [1.]])

In [22]:
df = pd.DataFrame({
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'New York', 'Chicago'],
    'price': [100, 200, 150, 300, 250, 400],
})

df

          city  price
0     New York    100
1  Los Angeles    200
2      Chicago    150
3      Houston    300
4     New York    250
5      Chicago    400

In [25]:
mean_price = df.groupby('city')['price'].mean().to_dict()
mean_price

{'Chicago': 275.0, 'Houston': 300.0, 'Los Angeles': 200.0, 'New York': 175.0}

In [27]:
df['city_encoded'] = df['city'].map(mean_price)
df

          city  price  city_encoded
0     New York    100         175.0
1  Los Angeles    200         200.0
2      Chicago    150         275.0
3      Houston    300         300.0
4     New York    250         175.0
5      Chicago    400         275.0

In [33]:
import seaborn as sns
tips = sns.load_dataset('tips')
tips

time_encoded = tips.groupby('time')['total_bill'].mean().to_dict()
time_encoded

C:\Users\vasud\AppData\Local\Temp\ipykernel_29340\2438688832.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  time_encoded = tips.groupby('time')['total_bill'].mean().to_dict()

{'Lunch': 17.168676470588235, 'Dinner': 20.79715909090909}

In [36]:
tips['time_encoded'] = tips['time'].map(time_encoded)
tips['time_encoded'].unique()

[20.797159, 17.168676]
Categories (2, float64): [17.168676, 20.797159]