In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

outside = "G1 G1 G1 G2 G2 G2".split()
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [19]:
df = pd.DataFrame(randn(6, 2), hier_index, ["A", "B"])
df

df.loc['G1'].loc[1]

df.index.names = ['Groups', 'Num']
df

df.loc['G2'].loc[2]['A']

-1.5035961101367228

In [21]:
df.xs('G1')
df.xs(1, level='Num')

               A         B
Groups
G1     -0.918576  0.182795
G2     -0.071735 -0.174055