In [17]:
import numpy as np
import pandas as pd

data = {
    "Company": ["Goog", "Goog", "Msft", "Msft", "Fb", "Fb"],
    "Person": ["Sam", "Charlie", "Amy", "Vanesse", "Carl", "Sarah"],
    "Sales": [200, 120, 340, 124, 243, 350],
}

df = pd.DataFrame(data)
df

df.groupby('Company').sum().loc['Fb']

Person    CarlSarah
Sales           593
Name: Fb, dtype: object

In [19]:
byComp = df.groupby('Company')
byComp.sum()

df.groupby('Company').describe().transpose()

Company              Fb        Goog        Msft
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000